*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home{
    background-color: rgb(39, 39, 39);
    height: 8vh;
    color: rgb(168, 37, 37);
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
